/* Utiliser toute la largeur de la page */
[data-testid="stAppViewContainer"] {
    max-width: 100%;
    padding: 0;
}

[data-testid="stHeader"] {
    display: none;
}

[data-testid="stSidebar"] {
    display: none;
}

main .block-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Centrer les titres */
h1, h2, h3 {
    text-align: center;
}

/* Ajuster la table pour qu'elle soit plus équilibrée */
table {
    width: 100%;
    margin: 0 auto;
}

table th, table td {
    text-align: center;
}
